@import "tailwindcss";

:root {
  --background: #ffffff; /* white */
  --foreground: #0f172a; /* slate-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #ffffff;
  color: #0f172a; /* Dark slate text for readability */
  font-family: var(--font-sans), sans-serif;
}
